*{
	margin: 0;
	padding: 0;
	font-family: century gothic;
	box-sizing: border-box;
}
header{
	background-image:linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url(jj.jpg);
	height: 100vh;
	background-size: cover;
	background-position: center;
}
ul{
	float: right;
	list-style-type: none;
	margin-top: 25px;
}
.btnlogin-popup{
	width: 130px;
	height: 50px;
	background: transparent;
	border: 2px solid #fff;
	outline: none;
	border-radius: 6px;
	cursor: pointer;
	font-size: 1.1em;
	color: #fff;
	font-weight: 500;
	margin-left: 40px;
	transition: .5s;
}
.btnlogin-popup:hover{
	background: #fff;
	color: #162938;
}
ul li{
	list-style: none;
	display: inline-block;
	margin: 0 20px;
	position: relative;
}
ul li a{
	text-decoration: none;
	color: #fff;
	text-transform: uppercase;
}
ul li::after{
	content: '';
	height: 3px;
	width: 100%;
	background: #009688;
	position: absolute;
	left: 0;
	bottom: 0
