*{
	margin: 0;
	padding: 0;
	font-family: "Century Gothic", sans-serif;
}
header{
	background-image:linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url(jj.jpg);
	height: 100 vh;
	background-size: cover;
	background-position: center;
}
ul{
	float: right;
	list-style-type: none;
	margin-top: 25 px;
}
.btnlogin-popup{
	width: 130 px;
	height: 50 px;
	background: transparent;
	border: 2 px solid #fff;
	outline: none;
	border-radius: 6 px;
	cursor: pointer;
	font-size: 1.1 em;
	color: #fff;
	font-weight: 500;
	margin-left: 40 px;
	transition: .5 s;
}
.btnlogin-popup:hover{
	background: #fff;
	color: #162938;
}
ul li{
	list-style: none;
	display: inline-block;
	margin: 0 20 px;
	position: relative;
}
ul li a{
	text-decoration: none;
	color: #fff;
	text-transform: uppercase;
}
ul li::after{
	content: '';
	height: 3 px;
	width: 100%;
	background: #009688;
	position: absolute;
	left: 0;
	bottom: 0;
}
.logo img{
	float: left;
	width: 150px;
	height: auto;
}
.main{
	max-width: 1200px;
	margin: auto;
}
.title{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
.title h1{
	color: #fff;
	font-size: 70px;
}

.button{
    position: absolute;
	top: 62%;
	left: 50%;
	transform: translate(-50%,-50%);
}

.btn{
	border: 1px solid #fff;
	padding: 10px 30px;
	color: #fff;
	text-decoration: none;
	transition: 0.6s ease;
	border-radius: 25px;
	font-weight: bold;
	border: 2px solid #FF4500;
	background: transparent;
	color: #fff;
	cursor: pointer;
	position: relative;
	overflow: hidden;
}

.btn:hover{
	background-color: #fff;
	color: #000;
}
span{
	height: 100%;
	width: 100%;
	border-radius: 25px;
	position: absolute;
	left: 0;
	bottom: 0;
	z-index: -1;
	transition: 0.5s;
}
button:hover span{
	width: 100%;
}
button:hover{
	border: none;
}
*{
	margin: 0;
	padding: 0;
	font-family: century gothic;
	box-sizing: border-box;
}
header{
	background-image:linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url(jj.jpg);
	height: 100vh;
	background-size: cover;
	background-position: center;
}
ul{
	float: right;
	list-style-type: none;
	margin-top: 25px;
}
.btnlogin-popup{
	width: 130px;
	height: 50px;
	background: transparent;
	border: 2px solid #fff;
	outline: none;
	border-radius: 6px;
	cursor: pointer;
	font-size: 1.1em;
	color: #fff;
	font-weight: 500;
	margin-left: 40px;
	transition: .5s;
}
.btnlogin-popup:hover{
	background: #fff;
	color: #162938;
}
ul li{
	list-style: none;
	display: inline-block;
	margin: 0 20px;
	position: relative;
}
ul li a{
	text-decoration: none;
	color: #fff;
	text-transform: uppercase;
}
ul li::after{
	content: '';
	height: 3 px;
	width: 100%;
	background: #009688;
	position: absolute;
	left: 0;
	bottom: 0
}